[submodule "Dependency/vscode-ansible"]
	path = Dependency/vscode-ansible
	url = https://github.com/ansible/vscode-ansible.git
[submodule "Dependency/ansible-language-server"]
	path = Dependency/ansible-language-server
	url = https://github.com/ansible/ansible-language-server.git
